#titre
{
	text-align: center;
	font-size: 30px;
}



.page 
{

	margin-left: 500px;
	font-size: 16px;
	font-family: Calibri, Tahoma, sans-serif;
	
}



.img1
{
	background-image: url(gratuitter.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}



#img2
{
	background-image: url(peinture.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


#img3
{
	background-image: url(clavier.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


li
{
	list-style-type: none;
}



.transparent
{
	background-color: rgba(255,255,255,0.6);
}


h5 
{
	margin-left: 70px;
	font-size: 15px;
	color: blue;

}


body
{
	font-size: 15px;
}


#theme
{
	text-align: center;
}

